html, body, .content-main {
	margin:0px;
	height: 90%;
	background-color: #f7f7f7;
}

.header {
	height: 48px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2c3742),
		to(#28303a));
	background-image: -webkit-linear-gradient(top, #2c3742, #28303a);
	background-image: -moz-linear-gradient(top, #2c3742, #28303a);
	background-image: -ms-linear-gradient(top, #2c3742, #28303a);
	background-image: -o-linear-gradient(top, #2c3742, #28303a);
	background-image: linear-gradient(top, #2c3742, #28303a);
	filter: progid: DXImageTransform.Microsoft.Gradient(startColorStr='#2c3742',
		endColorStr='#28303a', gradientType='0');
	overflow: hidden;
}

.header>span {
	display: block;
}

.header>span>a {
	font-size: 14px;
	width: auto;
	padding: 10 10px;
	color: #fff;
	line-height: 50px;
	text-decoration: none;
}

.main {
	margin-left: 140px;
	margin-right: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #FFF;
}

.side {
	float: left;
	width: 130px;
	height: 150%;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.side-menu {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	zoom: 1;
	padding-top: 15px;
	padding-bottom: 5.8em;
}

.ui-menu {
	list-style: none;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 0;
	margin-left: 20px;
}

.ui-menu>li>a {
	display: block;
	padding: 15px 5px 5px 5px;
	margin-left: -15px;
	margin-bottom: 3px;
	border-bottom: 1px solid #dae1e8;
	box-shadow: 0 2px 1px -1px #FFFFFF;
	color: #6e829b;
	outline: 0px;
	line-height: 21px;
	font-size: 12px;
	font-weight: bold;
}

.ui-menu>li>a:hover {
	color: #33455a;
	text-decoration: none;
}

.ui-menu>li>a.active {
	color: #33455a;
	text-decoration: none;
}

.ui-menu>.active>a {
	color: #33455a;
	text-decoration: none;
	border-bottom: 0px;
	box-shadow: none;
}

.ui-menu>.active {
	position: relative;
}

.ui-menu>.active .submenu {
	display: block;
}

.ui-menu>li>a .fa {
	margin-right: 15px;
	font-size: 16px;
}
